*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 96px;
}

.header a{
    text-decoration: none;
    color: black;
}